<!doctype html>
<html>
	<head>
		<title>Violence Detection System</title>
		<link rel="stylesheet" href="../static/styles.css"/>
		<link rel="icon" type="image/x-icon" href="../static/favicon.ico">
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
		<meta name="Dashboard" content="width=device-width, initial-scale=1">
		<link href="https://fonts.googleapis.com/css2?family=Public+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Quicksand:wght@600;700&display=swap" rel="stylesheet">
	</head>

<body>
	<h1 class="mt-5">Violence Detection System</h3>

	<div class="classnotify" align="right">
		<button id="notify" class="button">Notify</button>
	</div>

	<div class="container">
	    <div class="row">
	        <div class="col-lg-8  offset-lg-2">
	            <img src="http://127.0.0.1:8889/api/62b5129901bbada7a7be3ff40b608ae4" width="50%">
	        </div>
	    </div>

	</div>
	<script type = "text/javascript" src="../static/notify.js"></script>

</body>
</html>
